body {
  font-family: 'Helvetica', sans-serif;
}
.header {
  border-bottom: #000000 dashed 1px;
  text-align: center;
}
.fav-things ul{
  padding: 0;
}
.fav-things ul li {
  display: inline;
}
#hero-name {
  color: #000aff;
}
